.main-header{
    height: 188px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: column;
}

.main-header .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 96px 60px;
}

.top-header h1 {
    padding-left: 205px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;
    letter-spacing: 1px;
    font-family: "Inter";
}

.top-header .header-nav-icons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav-icons span {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-nav-icons span b {
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 1px;
    font-weight: 700;
}

.header-nav-icons > * {
    cursor: pointer;
}

.main-header .bottom-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 64px;
}